# channelNet model too large to upload, use \[ instead of [ to be recognized
SP_PD_MLP_rician/result/0.201_SP_ric_elbir_psi_i_lr1e-04_\[256, 1, 258\]_ep10.pt
SP_PD_MLP_rician/result/0.219_SP_ric_elbir_psi_d_lr1e-04_\[256, 1, 258\]_ep10.pt
SP_PD_MLP_rician/result/0.209_SP_ric_elbir_psi_h_lr1e-04_\[256, 1, 258\]_ep10.pt
# OR, the elbir pt files only can be ignored following beneath structure:
# SP_PD_MLP_rician/result/*_ep10.pt
